html {
    text-align: center;
    background-color: palegoldenrod;
    justify-content: center;
    height: 100%;
    display: flex;
}

body {
    flex-grow: 1;
    margin: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header {
    align-self: stretch;
}

nav {
    display: grid;
    /* I want the links to be exactly the same width, so I'm using fractional width
    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout#the_fr_unit */
    grid-template-columns: 1fr 1fr 1fr 1fr;

    /* I essentially took the color scheme from the nav bar on the council website
    https://www.piedmontcouncilbsa.org/ */
    background-color: #f5f5f5;
}

nav > a {
    text-align: center;
    border: 1px solid #c0c0c0;
    padding: 12px 0;
    font-size: 1.5em;
    /* color: #7b7676; This seemed too light */
}

nav > a:hover {
    color: #ce1126;
    background-color: #eeeeee;
}

a:not(footer > a) {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

section {
    padding: 5px;
    margin: 15px;
    background-color: lightskyblue;
    border: 1px solid black;
    border-radius: 3px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

table, th, td {
    border: 1px solid;
    text-align: left;
}

/* I may put these in page-specific CSS files */
.log {
    white-space: pre-wrap;
    border: 1px solid black;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
}

#logs-tabs {
    width: 92ch;
    margin-left: auto;
    margin-right: auto;
}

.button, button, input[type="button"], input[type="submit"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

    padding: 5px;
    border: 1px solid #c0c0c0;
    margin: 5px;
    background-color: #f5f5f5;
}

.button:hover, button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    color: #ce1126;
    background-color: #eeeeee;
}

/* Override jqClock formatting */
.jqclock {
    margin-top: 0;
    background-color: #f5f5f5;
    border-radius: 3px;
}

.clockdate {
    color: black;
}

.clocktime {
    color: black;
    background-color: #eeeeee;
    font-family: "Courier New", Courier, monospace;
    border-radius: 3px;
}

/* Make the forms on add_task.html better*/
form {
    align-self: center;
    width: fit-content;
    display: inline-block;
    text-align: right;
}

label {
    display: block;
    text-align: left;
}

footer {
    align-self: flex-end;
    margin-top: auto;
    border-top: 1px solid #c0c0c0;
    padding-top: 15px;
    background: palegoldenrod;
    text-align: right;
    width: 100%;
}

footer > a > img {
    margin-right: 25px;
}